/* html {
  font-size: calc(1em + 0.5vw);
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* html,
body,
div#__next {
  height: 100%;
  justify-content: center;
  display: flex;
  max-width: none;
  width: 100%;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background-color: #3CB474 !important;
}
